<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" parallel="methods">
  <test name="allure-junit-example">
    <classes>
      <class name="my.company.tests.SearchInYandexTest"/>
      <class name="my.company.tests.SearchInGoogleTest"/>
      <class name="my.company.tests.SearchInDuckDuckGoTest"/>
    </classes>
  </test> <!-- allure-junit-example -->
</suite> <!-- Default Suite -->
